<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Welcome to de ToDo List Manager</h1>
<h2></h2>
<h2>Here you can see all existing tasks:</h2>
<lu>
{% for elem in list %}
<li>{{ elem[1] }} <a href="{{ url_for('delete', id_task=elem[0]) }}"> delete </a></li>
{% endfor %}
</lu>
<h2></h2>
<form action = "{{ url_for('add')}}" method="POST"> <h4>insert a new task:  <input type="text", name="task"> <input type="submit" value="insert">  </h4> </form>
</body>
</html>
